html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
}

/* hide menu button on desktop */
#menu-btn {
  display: none;
}

/* hide close button always by default */
#close-btn {
  display: none;
}

header {
  font-weight: bold;
  font-size: 1.2rem;
}

#main-doc {
  display: flex;
  flex-direction: column;
  margin-left: 320px;
  padding: 20px;
  width: calc(100% - 340px);
}

#main-doc > section {
  margin-bottom: 20px;
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 2px solid gray;
  position: fixed;
  height: 100vh;
  width: 300px;
  overflow-y: auto;
  top: 0;
  left: 0;
}

#navbar > header {
  padding: 20px;
  white-space: nowrap;
}

.nav-link {
  text-decoration: none;
  color: #333;
  border-top: 1px solid #333;
  font-size: .9rem;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* tablet */
@media (max-width: 768px) {
  #navbar {
    width: 150px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 0.75rem;
  }

  .nav-link {
    padding: 6px 8px;
  }

  #main-doc {
    padding: 10px;
    margin-left: 160px;
    width: calc(100% - 160px);
  }
}

/* mobile */
@media (max-width: 560px) {

  body {
    background-color: #f3ecec;
  }

  /* show burger button */
  #menu-btn {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  z-index: 999;  /* LOWER than navbar */
}

#navbar:target {
  z-index: 1000;  /* navbar covers the burger button */
}

  /* hide navbar by default */
  #navbar {
    display: none;
  }

  /* show navbar when open */
  #navbar:target {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 0.9rem;
    overflow-y: auto;
    background-color: #f3ecec;
  }

  /* show close button only when navbar is open */
  #navbar:target #close-btn {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    padding: 10px;
    text-align: right;
  }

  /* hide burger button when navbar is open */
  #navbar:target ~ * #menu-btn {
    display: none;
  }

  #main-doc {
    margin-left: 0;
    width: 100%;
    padding: 8px;
  }
}